.apod-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 117, 84, .8);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 15px 0px;
  margin: 30px 0px;
}



img {
    max-width: 100%;
    height: auto;
  }